page-details {
  #beer{
    color: yellow;
    font-size: 80px;
  }
  #create{
    color: red;
    font-size: 80px;
  }
  #carte{
    color: orange;
    font-size: 80px;
  }
  #divButton{
    margin-top: 50px;
    display: block;
    margin: auto;
    text-align: center;
  }
}
